BioMatcher/Service References/BioMatcherWcfReference/BioMatcher2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BioMatcher" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BioMatcher" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MatchRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExtraRefCode" type="xs:int" />
      <xs:element minOccurs="0" name="Fingerprint" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="LocaleId" type="xs:int" />
      <xs:element minOccurs="0" name="RequestDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SkipLocale" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchRequest" nillable="true" type="tns:MatchRequest" />
  <xs:complexType name="MatchResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Extra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExtraRefCode" type="xs:int" />
      <xs:element minOccurs="0" name="Found" type="xs:boolean" />
      <xs:element minOccurs="0" name="MemberId" type="xs:int" />
      <xs:element minOccurs="0" name="RequestDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchResult" nillable="true" type="tns:MatchResult" />
</xs:schema>