BioMatcher/Service References/BioMatcherWcfReference/BioMatcherWcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BioMatcherWcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/BioMatcher.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/BioMatcher.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/BioMatcher.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BioMatcher" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBioMatcherWcfService_Initialize_InputMessage">
    <wsdl:part name="parameters" element="tns:Initialize" />
  </wsdl:message>
  <wsdl:message name="IBioMatcherWcfService_Initialize_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitializeResponse" />
  </wsdl:message>
  <wsdl:message name="IBioMatcherWcfService_Identify_InputMessage">
    <wsdl:part name="parameters" element="tns:Identify" />
  </wsdl:message>
  <wsdl:message name="IBioMatcherWcfService_Identify_OutputMessage">
    <wsdl:part name="parameters" element="tns:IdentifyResponse" />
  </wsdl:message>
  <wsdl:message name="IBioMatcherWcfService_UpdateCache_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCache" />
  </wsdl:message>
  <wsdl:message name="IBioMatcherWcfService_UpdateCache_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCacheResponse" />
  </wsdl:message>
  <wsdl:message name="IBioMatcherWcfService_GetCacheStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCacheStatus" />
  </wsdl:message>
  <wsdl:message name="IBioMatcherWcfService_GetCacheStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCacheStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IBioMatcherWcfService">
    <wsdl:operation name="Initialize">
      <wsdl:input wsaw:Action="http://tempuri.org/IBioMatcherWcfService/Initialize" message="tns:IBioMatcherWcfService_Initialize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBioMatcherWcfService/InitializeResponse" message="tns:IBioMatcherWcfService_Initialize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Identify">
      <wsdl:input wsaw:Action="http://tempuri.org/IBioMatcherWcfService/Identify" message="tns:IBioMatcherWcfService_Identify_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBioMatcherWcfService/IdentifyResponse" message="tns:IBioMatcherWcfService_Identify_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCache">
      <wsdl:input wsaw:Action="http://tempuri.org/IBioMatcherWcfService/UpdateCache" message="tns:IBioMatcherWcfService_UpdateCache_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBioMatcherWcfService/UpdateCacheResponse" message="tns:IBioMatcherWcfService_UpdateCache_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCacheStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IBioMatcherWcfService/GetCacheStatus" message="tns:IBioMatcherWcfService_GetCacheStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBioMatcherWcfService/GetCacheStatusResponse" message="tns:IBioMatcherWcfService_GetCacheStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBioMatcherWcfService" type="tns:IBioMatcherWcfService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Initialize">
      <soap:operation soapAction="http://tempuri.org/IBioMatcherWcfService/Initialize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Identify">
      <soap:operation soapAction="http://tempuri.org/IBioMatcherWcfService/Identify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCache">
      <soap:operation soapAction="http://tempuri.org/IBioMatcherWcfService/UpdateCache" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCacheStatus">
      <soap:operation soapAction="http://tempuri.org/IBioMatcherWcfService/GetCacheStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BioMatcherWcfService">
    <wsdl:port name="BasicHttpBinding_IBioMatcherWcfService" binding="tns:BasicHttpBinding_IBioMatcherWcfService">
      <soap:address location="http://localhost:8000/BioMatcher.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>